WSNotificaAdviser/src/wsdl/WSDLAdviser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sin="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/sincronizarEnvio"
                  name="AdviserWsV2"
                  xmlns:tns="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/"
                  xmlns:com="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/common"
                  targetNamespace="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:com="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/common"
                    targetNamespace="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/common"
                    elementFormDefault="qualified">
            <complexType name="Opciones">
                <sequence>
                    <element name="opcion" type="com:Opcion" maxOccurs="100"/>
                </sequence>
            </complexType>
            <complexType name="Opcion">
                <simpleContent>
                    <extension base="xsd:string">
                        <attribute name="tipo" type="xsd:string" use="required"/>
                    </extension>
                </simpleContent>
            </complexType>
        </xsd:schema>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:sin="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/sincronizarEnvio"
                    xmlns:com="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/common"
                    targetNamespace="http://administracionelectronica.gob.es/notifica/ws/adviserwsv2/1.0/sincronizarEnvio"
                    elementFormDefault="qualified">
            <element name="sincronizarEnvio" type="sin:sincronizarEnvio"/>
            <complexType name="sincronizarEnvio">
                <sequence>
                    <element name="organismoEmisor" type="xsd:string"/>
                    <element name="identificador" type="xsd:string"/>
                    <element name="tipoEntrega" type="sin:TipoEntrega"/>
                    <element name="modoNotificacion" type="sin:TipoModoNotificacion"/>
                    <element name="estado" type="xsd:string" />
                    <element name="fechaEstado" type="xsd:dateTime" />
                    <element name="receptor" type="sin:Receptor" minOccurs="0"/>
                    <element name="acusePDF" type="sin:Acuse" minOccurs="0"/>
                    <element name="acuseXML" type="sin:Acuse" minOccurs="0"/>
                    <element name="opcionesSincronizarEnvio" type="com:Opciones" minOccurs="0"/>
                </sequence>
            </complexType>
            <complexType name="Receptor">
                <sequence>
                    <element name="nifReceptor" type="xsd:string"/>
                    <element name="nombreReceptor" type="xsd:string"/>
                    <element name="vinculoReceptor" type="sin:TipoVinculo" nillable="true"/>
                    <element name="nifRepresentante" type="xsd:string" minOccurs="0"/>
                    <element name="nombreRepresentante" type="xsd:string" minOccurs="0"/>
                    <element name="csvRepresentante" type="xsd:string" minOccurs="0"/>
                </sequence>
            </complexType>
            <simpleType name="TipoVinculo">
                <restriction base="xsd:integer">
                    <enumeration value="1">
                        <annotation><documentation>
                            Titular
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation><documentation>
                            Destinatario
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="3">
                        <annotation><documentation>
                            Apoderado
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="4">
                        <annotation><documentation>
                            Funcionario Habilitado
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="5">
                        <annotation><documentation>
                            Otros
                        </documentation></annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <complexType name="Acuse">
                <sequence>
                    <element name="contenido" type="xsd:base64Binary"/>
                    <element name="hash" type="xsd:string"/>
                    <element name="csvResguardo" type="xsd:string" minOccurs="0"/>
                </sequence>
            </complexType>
            <simpleType name="TipoModoNotificacion">
                <restriction base="integer">
                    <enumeration value="1">
                        <annotation><documentation>
                            Sede
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation><documentation>
                            Funcionario Habilitado
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="3">
                        <annotation><documentation>
                            Postal
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="4">
                        <annotation><documentation>
                            DEH
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="5">
                        <annotation><documentation>
                            Carpeta
                        </documentation></annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="TipoEntrega">
                <restriction base="integer">
                    <enumeration value="1">
                        <annotation><documentation>
                            Datado
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation><documentation>
                            Datado y Certificación
                        </documentation></annotation>
                    </enumeration>
                    <enumeration value="3">
                        <annotation><documentation>
                            Certificación
                        </documentation></annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <element name="resultadoSincronizarEnvio" type="sin:resultadoSincronizarEnvio"/>
            <complexType name="resultadoSincronizarEnvio">
                <sequence>
                    <element name="identificador" type="xsd:string"/>
                    <element name="codigoRespuesta" type="xsd:string"/>
                    <element name="descripcionRespuesta" type="xsd:string"/>
                    <element name="opcionesResultadoSincronizarEnvio" type="com:Opciones" minOccurs="0"/>
                </sequence>
            </complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="actualizaEnvioHeader">
        <wsdl:part name="apiKey" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="sincronizarEnvioRequest">
        <wsdl:part name="sincronizarEnvio" element="sin:sincronizarEnvio"/>
    </wsdl:message>
    <wsdl:message name="sincronizarEnvioResponse">
        <wsdl:part name="resultadoSincronizarEnvio" element="sin:resultadoSincronizarEnvio"/>
    </wsdl:message>

    <wsdl:portType name="AdviserWsV2PortType">
        <wsdl:operation name="sincronizarEnvio">
            <wsdl:input message="tns:sincronizarEnvioRequest"/>
            <wsdl:output message="tns:sincronizarEnvioResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AdviserWsV2Binding" type="tns:AdviserWsV2PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sincronizarEnvio">
            <soap:operation soapAction="sincronizarEnvio"/>
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="AdviserWsV2Service">
        <wsdl:port name="AdviserWsV2Port" binding="tns:AdviserWsV2Binding">
            <soap:address location="http://bus:7101/WSNotifica/ProxyServices/Externos/PXAdviser"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
