wsEscriturasAncert/EscriturasAncert/wsdl/PXLanzador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s0:definitions name="lanzaPLServiceDefinitions" targetNamespace="http://stpa/services" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://stpa/services" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://stpa/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="executePL">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="esquema" type="xs:string"/>
            <xs:element name="peticion" type="xs:string"/>
            <xs:element name="IP" type="xs:string"/>
            <xs:element name="NIF" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="certificado" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executePLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="executePL">
    <s0:part element="s1:executePL" name="parameters"/>
  </s0:message>
  <s0:message name="executePLResponse">
    <s0:part element="s1:executePLResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="lanzaPL">
    <s0:operation name="executePL" parameterOrder="parameters">
      <s0:input message="s1:executePL"/>
      <s0:output message="s1:executePLResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="lanzaPLServiceSoapBinding" type="s1:lanzaPL">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="executePL">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="lanzaPLService">
    <s0:port binding="s1:lanzaPLServiceSoapBinding" name="lanzaPLSoapPort">
      <s2:address location="http://bus.desa.epst.pa:7001/WSInternos/ProxyServices/PXLanzador"/>
    </s0:port>
  </s0:service>
</s0:definitions>