WS_ITP_DGT/wsdl/itp_dgt.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://itp_dgt.stpa.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="itp_dgt" targetNamespace="http://itp_dgt.stpa.es">
  <wsdl:types>
    <xsd:schema targetNamespace="http://itp_dgt.stpa.es">
      <xsd:element name="enviarFichero">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fichero" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enviarFicheroResponse">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="referenciaRele" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="estado" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="errores" type="tns:erroresType"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="fichero" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
    
    
      <xsd:complexType name="erroresType">
      	<xsd:sequence>


      		<xsd:element name="error" type="tns:errorType" maxOccurs="unbounded"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="errorType">
      	<xsd:sequence>
      		<xsd:element name="codigo" type="xsd:string"></xsd:element>
      		<xsd:element name="descripcion" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="enviarFicheroRequest">
    <wsdl:part element="tns:enviarFichero" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="enviarFicheroResponse">
    <wsdl:part element="tns:enviarFicheroResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="itp_dgt">
    <wsdl:operation name="enviarFichero">
      <wsdl:input message="tns:enviarFicheroRequest"/>
      <wsdl:output message="tns:enviarFicheroResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="itp_dgtSOAP" type="tns:itp_dgt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enviarFichero">
      <soap:operation soapAction="http://itp_dgt.stpa.es/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="itp_dgt">
    <wsdl:port binding="tns:itp_dgtSOAP" name="itp_dgtSOAP">
      <soap:address location="http://bus:7101/WSITP_DGT/ProxyServices/PXITP_DGT"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
