WSDocumentoElectronico/src/es/tributasenasturias/lanzador/impl/wsdl/PXLanzador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="lanzaPLServiceDefinitions" targetNamespace="http://stpa/services" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://stpa/services" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://stpa/services" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://stpa/services" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="executePL">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="esquema" type="xs:string"/>
            <xs:element name="peticion" type="xs:string"/>
            <xs:element name="IP" type="xs:string"/>
            <xs:element name="NIF" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="certificado" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executePLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="executePL">
    <WL5G3N0:part element="WL5G3N1:executePL" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="executePLResponse">
    <WL5G3N0:part element="WL5G3N1:executePLResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="lanzaPL">
    <WL5G3N0:operation name="executePL" parameterOrder="parameters">
      <WL5G3N0:input message="WL5G3N1:executePL"/>
      <WL5G3N0:output message="WL5G3N1:executePLResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="lanzaPLServiceSoapBinding" type="WL5G3N1:lanzaPL">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="executePL">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="lanzaPLService">
    <WL5G3N0:port binding="WL5G3N1:lanzaPLServiceSoapBinding" name="lanzaPLSoapPort">
      <WL5G3N2:address location="http://bus.desa.epst.pa:7101/WSInternos/ProxyServices/PXLanzador"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>