WSModelo600/src/wsdl/WSDLTercerosModelo600.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ds="http://www.w3.org/TR/xmldsig-core/" xmlns:tns="http://servicios.tributasenasturias.es/TercerosModelo600" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLTercerosModelo600" targetNamespace="http://servicios.tributasenasturias.es/TercerosModelo600" xmlns:calculo="http://servicios.tributasenasturias.es/Calculo600Generico" xmlns:pago="http://servicios.tributasenasturias.es/Pago600Generico"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    jaxb:version="2.0">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://servicios.tributasenasturias.es/TercerosModelo600"
    	xmlns:pref="http://www.w3.org/2000/09/xmldsig#" xmlns:calculo="http://servicios.tributasenasturias.es/Calculo600Generico" xmlns:pago="http://servicios.tributasenasturias.es/Pago600Generico">
    	<xsd:import schemaLocation="xsd/calculo600Generico_v00.3.xsd" namespace="http://servicios.tributasenasturias.es/Calculo600Generico">
    	</xsd:import>
    	<xsd:import schemaLocation="xsd/pagoPresentacion600Generico_v00.4.xsd" namespace="http://servicios.tributasenasturias.es/Pago600Generico"></xsd:import>
    	<xsd:element name="CalculoModelo600FaultInfo">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="id" type="xsd:string"></xsd:element>
    				<xsd:element name="mensaje" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="PagoModelo600FaultInfo">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="id" type="xsd:string"></xsd:element>
    				<xsd:element name="mensaje" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
</wsdl:types>
  <wsdl:message name="calcularRequest">
    <wsdl:part element="calculo:remesa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="calcularResponse">
    <wsdl:part element="calculo:remesa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CalculoFault">
    <wsdl:part element="tns:CalculoModelo600FaultInfo" name="fault"/>
  </wsdl:message>
  <wsdl:message name="pagoPresentacionRequest">
  	<wsdl:part name="parameters" element="pago:remesa"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagoPresentacionResponse">
  	<wsdl:part name="parameters" element="pago:remesa"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PagoFault">
    <wsdl:part element="tns:PagoModelo600FaultInfo" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="TercerosModelo600PortType">
    <wsdl:operation name="calcular">
      <wsdl:input message="tns:calcularRequest"/>
      <wsdl:output message="tns:calcularResponse"/>
      <wsdl:fault name="calcularFault" message="tns:CalculoFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagoPresentacion">
    	<wsdl:input message="tns:pagoPresentacionRequest"></wsdl:input>
    	<wsdl:output message="tns:pagoPresentacionResponse"></wsdl:output>
    	<wsdl:fault name="pagarFault" message="tns:PagoFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TercerosModelo600Binding" type="tns:TercerosModelo600PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calcular">
      <soap:operation soapAction="http://servicios.tributasenasturias.es/PagoModelo600"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="calcularFault"><soap:fault name="calcularFault" use="literal"/></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagoPresentacion">
      <soap:operation soapAction="http://servicios.tributasenasturias.es/PagoModelo600"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pagarFault"><soap:fault name="pagarFault" use="literal"/></wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TercerosModelo600">
    <wsdl:port binding="tns:TercerosModelo600Binding" name="TercerosModelo600">
      <soap:address location="http://bus:7001/WSTercerosModelo600/ProxyServices/PXTercerosModelo600"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
