ConsultaCertificados/wsdls1/ConsultaCertificados.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.tributasenasturias.es/ConsultaCertificados/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultaCertificados" targetNamespace="http://webservices.tributasenasturias.es/ConsultaCertificados/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SERVICIOWEB">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PETICION">
          <xs:annotation>
          <xs:documentation>
                		Petición de entrada: constará de un
                		certificado y un flag de PDF (en este momento no
                		se usa el flag).
          </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CERTIFICADO">
               <xs:annotation>
                      <xs:documentation>
                        		Datos del certificado a solicitar.
                      </xs:documentation>
               </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NIF" type="xs:string">
                    <xs:annotation>
      				<xs:documentation>
      					Nif del que se quiere solicitar el
      					certificado.
      				</xs:documentation>
      			    </xs:annotation>
                    </xs:element>
                    <xs:element name="NOMBRE" type="xs:string">
                    <xs:annotation>
      				<xs:documentation>
      					Nombre relacionado con el NIF.
      				</xs:documentation>
      				</xs:annotation>
                    </xs:element>
                    <xs:element name="REQUIRENTE" type="xs:string">
                    <xs:annotation>
      				<xs:documentation>
      					Persona u organismo que requiere el
      					certificado.
      				</xs:documentation>
      				</xs:annotation>
                    </xs:element>
                    <xs:element name="NIF_SOLICITANTE" type="xs:string">
                    <xs:annotation>
      				<xs:documentation>
      					NIF del solicitante.
      				</xs:documentation>
      				</xs:annotation>
                    </xs:element>
                    <xs:element name="NOMBRE_SOLICITANTE" type="xs:string">
                    <xs:annotation>
      				<xs:documentation>
      					Nombre del solicitante.
      				</xs:documentation>
      				</xs:annotation>
                    </xs:element>
                    <xs:element name="CONSENTIMIENTO">
                    <xs:annotation>
                        	<xs:documentation>
                        		SI o LEY
                        	</xs:documentation>
                        </xs:annotation>
                     <xs:simpleType>
                      <xs:restriction base="xs:string">
                      <xs:pattern value="([Ss][iI])|([Ll][Ee][Yy])"/>
                      </xs:restriction>
                     </xs:simpleType>
                     </xs:element>
                    <xs:element name="MOTIVO" type="xs:string" />
                    <xs:element name="TIPO" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PDF">
              <xs:annotation>
      				<xs:documentation>Flag PDF.</xs:documentation>
      		  </xs:annotation>
      		  <xs:simpleType>
      				<xs:restriction base="xs:string">
      				<xs:pattern value="([Ss][Ii])|([Nn][Oo])"/>
      				</xs:restriction>
      			</xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="RESPUESTA">
        <xs:annotation>
          			<xs:documentation>
          				Datos específicos de respuesta.
          			</xs:documentation>
        </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RESULTADO" type="xs:string" />
              <xs:element name="IDENTIFICACION" type="xs:string" />
              <xs:element name="FECHA_GENERACION" type="xs:string" />
              <xs:element name="FECHA_VALIDEZ" type="xs:string" />
              <xs:element name="CERTIFICADO_PDF" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="cliente" type="xs:string" fixed="claveConsejerias" />
      <xs:attribute name="servicio" type="xs:string" fixed="certificadoTributario" />
    </xs:complexType>
  </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaCertificadosIn">
    <wsdl:part element="SERVICIOWEB" name="parameters">
    	<wsdl:documentation>Entrada de la consulta de certificado</wsdl:documentation></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaCertificadosOut">
    <wsdl:part element="SERVICIOWEB" name="parameters">
    	<wsdl:documentation>Salida de la consulta de certificados</wsdl:documentation></wsdl:part>
  </wsdl:message>
  <!--<wsdl:message name="ConsultaCertificados_faultMsg">
  	<wsdl:part name="parameters" element="tns:ConsultaCertificados_fault"></wsdl:part>
  </wsdl:message>-->
  <wsdl:portType name="ConsultaCertificados">
    <wsdl:operation name="ConsultaCertificados">
      <wsdl:input message="tns:ConsultaCertificadosIn"/>
      <wsdl:output message="tns:ConsultaCertificadosOut"/>
            <!--<wsdl:fault name="fault" message="tns:ConsultaCertificados_faultMsg"></wsdl:fault>-->
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaCertificadosSOAP" type="tns:ConsultaCertificados">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaCertificados">
      <soap:operation soapAction="http://webservices.tributasenasturias.es/ConsultaCertificados/ConsultaCertificados"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaCertificados">
    <wsdl:port binding="tns:ConsultaCertificadosSOAP" name="ConsultaCertificadosSOAP">
      <soap:address location="http://webservices.tributasenasturias.es/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
