WSMultas/WSMultas.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="WSMultas"
	targetNamespace="http://WSMultas.ws.services.tributasenasturias.es/WSMultas/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://WSMultas.ws.services.tributasenasturias.es/WSMultas/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://WSMultas.ws.services.tributasenasturias.es/WSMultas/">
			<xsd:element name="AltaMultaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UDID" type="xsd:string"
							maxOccurs="1" minOccurs="1" />
						<xsd:element name="Suborganismo"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="NumeroAgenteAgmu"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="NifPropietario"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="NombreCompletoPropietario"
							type="tns:CadenaMax60" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="PaisPropietario"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="CallePropietario"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="PoblacionPropietario"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="ProvinciaPropietario"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="DistritoPostalPropietario"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="NifInfractor"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="NombreCompletoInfractor"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="PaisInfractor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="CalleInfractor"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="PoblacionInfractor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="ProvinciaInfractor"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="DistritoPostalInfractor"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="NifConductor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="NombreCompletoConductor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="PaisConductor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="CalleConductor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="PoblacionConductor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="ProvinciaConductor"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="DistritoPostalConductor"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Matricula" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Marca" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Modelo" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="NumBoletin"
							type="tns:Cadena16" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="NumExpediente"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="CodigoArmu"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="HechoDenunciado"
							type="tns:CadenaMax255" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="HechoDenunciadoCoof"
							type="tns:CadenaMax255" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="IdTimu" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="IdCamu"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="IdClve"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="IdTamu" type="tns:IdTamuType"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="ViaPenal" type="tns:CadenaSN"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="Retencion"
							type="tns:CadenaSN" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="Velocidad" type="xsd:double"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="VelocidadMaxima"
							type="xsd:double" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="VelocidadCorregida"
							type="xsd:double" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="DispositivoMedicion"
							type="xsd:int" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="FechaInfraccion"
							type="xsd:date" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="HoraInfraccion"
							type="tns:TimeType" maxOccurs="1" minOccurs="1">
						</xsd:element>

						<xsd:element name="NombreVia"
							type="tns:CadenaMax100" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="NumVia"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="AmpliacionVia"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="Latitud" type="xsd:double"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Longitud" type="xsd:double"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Pagado"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="FormaPago" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="FechaCobro" type="xsd:date"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Importe"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Justificante"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="MotivoAnulacion"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Propiedades"
							type="tns:PropiedadesType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="Imagenes"
							type="tns:ImagenesType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="IdComa"
							type="tns:CadenaNumericaType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="ModificadaDireccion"
							type="tns:CadenaSN" maxOccurs="1" minOccurs="0">
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AltaMultaRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codResultado"
							type="xsd:string" maxOccurs="1" minOccurs="1" />
						<xsd:element name="resultado" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="idEper" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="numeroRege" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:simpleType name="CadenaMax60">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="CadenaNumericaType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[*]{0}|[0-9]+"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="Cadena16">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="CadenaMax255">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="IdTamuType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PL"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="CadenaSN">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="S"></xsd:enumeration>
					<xsd:enumeration value="N"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="TimeType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-2][0-9]:[0-5][0-9]"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="CadenaMax100">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="PropiedadType">
				<xsd:sequence>
					<xsd:element name="Nombre" type="xsd:string"
						minOccurs="1">
					</xsd:element>
					<xsd:element name="Valor" type="xsd:string"
						minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PropiedadesType">
				<xsd:sequence>
					<xsd:element name="Propiedades"
						type="tns:PropiedadType" minOccurs="0" maxOccurs="unbounded">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ImagenType">
				<xsd:sequence>
					<xsd:element name="Nombre" type="xsd:string"
						minOccurs="1">
					</xsd:element>
					<xsd:element name="Base64" type="xsd:string"
						minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ImagenesType">
				<xsd:sequence>
					<xsd:element name="Imagenes" type="tns:ImagenType"
						minOccurs="0" maxOccurs="5">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="MultasExternasObtenerTablasRequest">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Municipio" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="Tabla" type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="Fecha"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MultasExternasObtenerTablasRequestResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Error" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
						<xsd:element name="Fecha" type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="FicheroB64"
							type="xsd:string" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AltaMultaRequestRequest">
		<wsdl:part element="tns:AltaMultaRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AltaMultaRequestResponse">
		<wsdl:part element="tns:AltaMultaRequestResponse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message name="MultasExternasObtenerTablasRequestRequest">
		<wsdl:part name="parameters" element="tns:MultasExternasObtenerTablasRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MultasExternasObtenerTablasRequestResponse">
		<wsdl:part name="parameters" element="tns:MultasExternasObtenerTablasRequestResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WSMultas">
		<wsdl:operation name="AltaMultaRequest">
			<wsdl:input message="tns:AltaMultaRequestRequest" />
			<wsdl:output message="tns:AltaMultaRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="MultasExternasObtenerTablasRequest">
			<wsdl:input message="tns:MultasExternasObtenerTablasRequestRequest"></wsdl:input>
			<wsdl:output message="tns:MultasExternasObtenerTablasRequestResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WSMultasSOAP" type="tns:WSMultas">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AltaMultaRequest">
			<soap:operation
				soapAction="http://WSMultas.ws.services.tributasenasturias.es/WSMultas/AltaMultaRequest/" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MultasExternasObtenerTablasRequest">
			<soap:operation
				soapAction="http://WSMultas.ws.services.tributasenasturias.es/WSMultas/MultasExternasObtenerTablasRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="WSMultas">
		<wsdl:port binding="tns:WSMultasSOAP" name="WSMultasSOAP">
			<soap:address
				location="http://WSMultas.ws.services.tributasenasturias.es/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
