WSTrasladoMaquina/src/es/tributasenasturias/seguridad/autenticacion/wsdl/PXAutenticacionEPST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="AutenticacionEPST" targetNamespace="http://servicios.tributasenasturias.es/AutenticacionEPST/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://servicios.tributasenasturias.es/AutenticacionEPST/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://servicios.tributasenasturias.es/AutenticacionEPST/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.tributasenasturias.es/AutenticacionEPST/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="login">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="certificado" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esError" type="xsd:boolean"/>
            <xsd:element name="idError" type="xsd:string"/>
            <xsd:element name="mensajeError" type="xsd:string"/>
            <xsd:element name="CIF" type="xsd:string"/>
            <xsd:element name="NIF_NIE" type="xsd:string"/>
            <xsd:element name="razon_social" type="xsd:string"/>
            <xsd:element name="apellido1" type="xsd:string"/>
            <xsd:element name="apellido2" type="xsd:string"/>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="tipo" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="loginRequest">
    <WL5G3N0:part element="WL5G3N1:login" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="loginResponse">
    <WL5G3N0:part element="WL5G3N1:loginResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="AutenticacionEPST">
    <WL5G3N0:operation name="login">
      <WL5G3N0:input message="WL5G3N1:loginRequest"/>
      <WL5G3N0:output message="WL5G3N1:loginResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="AutenticacionEPSTSOAP" type="WL5G3N1:AutenticacionEPST">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="login">
      <WL5G3N2:operation soapAction="http://servicios.tributasenasturias.es/AutenticacionEPST/login"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="AutenticacionEPST">
    <WL5G3N0:port binding="WL5G3N1:AutenticacionEPSTSOAP" name="AutenticacionEPSTSOAP">
      <WL5G3N2:address location="http://bus.desa.epst.pa:7101/WSAutenticacionEPST/ProxyServices/PXAutenticacionEPST"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>