WSClave/wsdl/WSDLClave.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.tributasenasturias.es/WSDLClave/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLClave" targetNamespace="http://servicios.tributasenasturias.es/WSDLClave/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.tributasenasturias.es/WSDLClave/">
      <xsd:element name="generarTicket">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="peticion" type="tns:peticionGeneracionType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="generarTicketResponse">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="esError" type="xsd:boolean"
          		minOccurs="1">
          	</xsd:element>
          	<xsd:element name="mensajeError" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
                        <xsd:element name="peticionOriginal" type="tns:peticionGeneracionType">
          		<xsd:annotation>
          			<xsd:documentation>
          				Petición original que dió como resultado esta
          				respuesta
          			</xsd:documentation>
          		</xsd:annotation></xsd:element>
                        <xsd:element name="resultado"
          		type="tns:resultadoGeneracionType" minOccurs="0">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="procesarRespuesta">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="samlToken" type="xsd:string"
      				minOccurs="0" maxOccurs="1">
      				<xsd:annotation>
      					<xsd:documentation>
      						Token de respuesta de autenticación
      					</xsd:documentation>
      				</xsd:annotation>
      			</xsd:element>
      			<xsd:element name="logoutResponse" type="xsd:string"
      				minOccurs="0" maxOccurs="1">
      				<xsd:annotation>
      					<xsd:documentation>
      						Token de respuesta de logout
      					</xsd:documentation>
      				</xsd:annotation>
      			</xsd:element>

      			<xsd:element name="ipCliente" type="xsd:string"
      				minOccurs="1" maxOccurs="1">
      				<xsd:annotation>
      					<xsd:documentation>
      						Dirección IP del cliente que inició la
      						autenticación o el logout.
      					</xsd:documentation>
      				</xsd:annotation>
      			</xsd:element>
      			<xsd:element name="peticionGeneracionOriginal" type="tns:peticionGeneracionType" minOccurs="1" maxOccurs="1">
      				<xsd:annotation>
      					<xsd:documentation>
      						Petición original de generación de ticket.
      						Necesaria ya que contiene los datos para
      						validar la respuesta.
      					</xsd:documentation>
      				</xsd:annotation></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="procesarRespuestaResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="esError" type="xsd:boolean"
      				minOccurs="1" maxOccurs="1">
      			</xsd:element>
      			<xsd:element name="mensajeError" type="xsd:string"></xsd:element>
      			<xsd:element name="datosRespuesta" type="tns:datosRespuestaType" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="IdPType">
      	<xsd:sequence>
      		<xsd:element name="AFirma" type="xsd:boolean" minOccurs="1">
      			<xsd:annotation>
      				<xsd:documentation>
      					@Firma - certificado
      				</xsd:documentation>
      			</xsd:annotation></xsd:element>
      		<xsd:element name="clavePermanente" type="xsd:boolean" minOccurs="1">
      			<xsd:annotation>
      				<xsd:documentation>Clave PIN</xsd:documentation>
      			</xsd:annotation></xsd:element>
      		<xsd:element name="pin24H" type="xsd:boolean" minOccurs="1">
      			<xsd:annotation>
      				<xsd:documentation>PIN 24H</xsd:documentation>
      			</xsd:annotation></xsd:element>
      		<xsd:element name="eIDAS" type="xsd:boolean" minOccurs="1">
      			<xsd:annotation>
      				<xsd:documentation>
      					Ciudadanos europeos
      				</xsd:documentation>
      			</xsd:annotation></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
    
      <xsd:complexType name="peticionGeneracionType">
      	<xsd:sequence>
      		<xsd:element name="urlServicio" type="xsd:string"
          		minOccurs="0" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Url de destino, a dónde va dirigido el ticket.
          				Normalmente la URL de Cl@ve, si es así es
          				opcional pasarlo. El servicio ya tomará ese
          				valor.
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          	<xsd:element name="idProveedorServicio" type="xsd:string"
          		minOccurs="0" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Id del Service Provider. Se habrá obtenido en
          				el proceso de alta con Cl@ve. Si no se indica,
          				se cogerá por defecto el de Servicios
          				Tributarios
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          	<xsd:element name="nombreAplicacion" type="xsd:string"
          		minOccurs="1" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Nombre de la aplicación para la que se desea
          				generar el ticket.
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          	<xsd:element name="urlRetorno" type="xsd:string"
          		minOccurs="1" maxOccurs="1">
          	</xsd:element>
          	<xsd:element name="nivelCalidadAutenticacion"
          		type="xsd:string" minOccurs="0" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Nivel de calidad de la autenticación. A elegir
          				entre.

          				Bajo: http://eidas.europa.eu/LoA/low

          				Medio: http://eidas.europa.eu/LoA/substantial

          				Alto: http://eidas.europa.eu/LoA/high

          				Si no se indica este nodo, escogerá por
          				defecto el nivel bajo.
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          	<xsd:element name="politicaNombres" type="xsd:string"
          		minOccurs="0" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Política de nombres. A elegir entre:

          				Persistente:
          				urn:oasis:names:tc:SAML:2.0:nameid-format:persistent

          				Transitorio:
          				urn:oasis:names:tc:SAML:2.0:nameid-format:transient

          				No especificado:
          				urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified

          				Si no se indica, por defecto pondrá "No
          				especificado"
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>

          	<xsd:element name="IdP" type="tns:IdPType" minOccurs="1"
          		maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Proveedores de identidad que se desean usar.
          				Debería haber al menos uno, aunque no se
          				valida.
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="resultadoGeneracionType">
      	<xsd:sequence>
      		<xsd:element name="idToken" type="xsd:string"
          		minOccurs="1" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Identificador único de token generado. Uso
          				interno en principio.

          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          	<xsd:element name="samlRequest" type="xsd:string"
          		minOccurs="1" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Token SAML en base64.
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>

          	<xsd:element name="relayState" type="xsd:string"
          		minOccurs="1" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				Atributo que forma parte del token y que se
          				recibirá en la respuesta. Puede utilizarse
          				para identificar la sesión a la que pertenece
          				la respuesta, por ejemplo para hacer
          				comprobaciones.
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          	<xsd:element name="urlServicio" type="xsd:string"
          		minOccurs="1" maxOccurs="1">
          		<xsd:annotation>
          			<xsd:documentation>
          				URL a la que enviar el token. Si se ha
          				indicado a la entrada, coincidirá con esa, si
          				no, será el valor parametrizado.
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="datosRespuestaType">
      	<xsd:sequence>
      		<xsd:element name="apellidos" type="xsd:string"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="nombre" type="xsd:string"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="identificador" type="xsd:string"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="primerApellido" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="proveedorIdentidad" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="relayState" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="logoutRequest" type="xsd:string"
      			minOccurs="0" maxOccurs="1">
      			<xsd:annotation>
      				<xsd:documentation>
      					Si la respuesta ha sido satisfactoria
      					contendrá la petición de logout a enviar para
      					indicar la desconexión de ese usuario. Si no
      					es así, subsecuentes peticiones de identidad
      					sobre el mismo elemento (por ejemplo,
      					certificado) y mismo origen serán validadas
      					automáticamente.
      				</xsd:documentation>
      			</xsd:annotation>
      		</xsd:element>

      		<xsd:element name="desgloseInfo" minOccurs="0"
      			maxOccurs="1" type="tns:entradasDesglose">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="entradaDesglose">
      	<xsd:sequence>
      		<xsd:element name="clave" type="xsd:string"></xsd:element>
      		<xsd:element name="valor" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="entradasDesglose">
      	<xsd:sequence>
      		<xsd:element name="entrada" type="tns:entradaDesglose" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="generarTicketRequest">
    <wsdl:part element="tns:generarTicket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="generarTicketResponse">
    <wsdl:part element="tns:generarTicketResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="procesarRespuestaRequest">
  	<wsdl:part name="parameters" element="tns:procesarRespuesta"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="procesarRespuestaResponse">
  	<wsdl:part name="parameters" element="tns:procesarRespuestaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSDLClave">
    <wsdl:operation name="generarTicket">
      <wsdl:input message="tns:generarTicketRequest"/>
      <wsdl:output message="tns:generarTicketResponse"/>
    </wsdl:operation>
    <wsdl:operation name="procesarRespuesta">
    	<wsdl:input message="tns:procesarRespuestaRequest"></wsdl:input>
    	<wsdl:output message="tns:procesarRespuestaResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDLClaveSOAP" type="tns:WSDLClave">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generarTicket">
      <soap:operation soapAction="http://servicios.tributasenasturias.es/WSDLClave/generarTicket"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarRespuesta">
      <soap:operation soapAction="http://servicios.tributasenasturias.es/WSDLClave/procesarRespuesta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDLClave">
    <wsdl:port binding="tns:WSDLClaveSOAP" name="WSDLClaveSOAP">
      <soap:address location="http://bus:7101/WSClave/ProxyServices/PXTokenClave"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
