WSCustodiaImagenes/WebContent/WSCustodiaImagenes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ArchivoDigital.ws.services.tributasenasturias.es/WSCustodiaImagenes/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSCustodiaImagenes" targetNamespace="http://ArchivoDigital.ws.services.tributasenasturias.es/WSCustodiaImagenes/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ArchivoDigital.ws.services.tributasenasturias.es/WSCustodiaImagenes/">
      <xsd:element name="CustodiaFicAcuseRecibo">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="nombreArchivo" type="xsd:string" />
          	<xsd:element name="Archivo" type="xsd:base64Binary"></xsd:element>
          	<xsd:element name="codUsuario" type="xsd:string"></xsd:element>
          	<xsd:element name="limite" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CustodiaFicAcuseReciboResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="ArchivoRes" type="xsd:base64Binary" />
          	<xsd:element name="codError" type="xsd:string"></xsd:element>
          	<xsd:element name="descError" type="xsd:string"></xsd:element>
          	<xsd:element name="nomArchivo" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustodiaFicAcuseReciboRequest">
    <wsdl:part element="tns:CustodiaFicAcuseRecibo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CustodiaFicAcuseReciboResponse">
    <wsdl:part element="tns:CustodiaFicAcuseReciboResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WSCustodiaImagenes">
    <wsdl:operation name="CustodiaFicAcuseRecibo">
      <wsdl:input message="tns:CustodiaFicAcuseReciboRequest"/>
      <wsdl:output message="tns:CustodiaFicAcuseReciboResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCustodiaImagenesSOAP"
  	type="tns:WSCustodiaImagenes">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="CustodiaFicAcuseRecibo">
  		<soap:operation
  			soapAction="http://ArchivoDigital.ws.services.tributasenasturias.es/WSCustodiaImagenes/CustodiaFicAcuseRecibo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCustodiaImagenes">
    <wsdl:port binding="tns:WSCustodiaImagenesSOAP" name="WSCustodiaImagenesSOAP">
      <soap:address location="http://bus.prue.epst.pa:7101/ArchivoDigital/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
