ArchivoDigital/WebContent/CustodiaFicMultas.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ArchivoDigital.ws.services.tributasenasturias.es/CustodiaFicMultas/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustodiaFicMultas" targetNamespace="http://ArchivoDigital.ws.services.tributasenasturias.es/CustodiaFicMultas/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ArchivoDigital.ws.services.tributasenasturias.es/CustodiaFicMultas/">
      <xsd:element name="CustodiaFicImagenes">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="dirImagenesAD" type="xsd:string" />
          	<xsd:element name="nombreArchivo" type="xsd:string"></xsd:element>
          	<xsd:element name="Archivo" type="xsd:base64Binary"></xsd:element>
          	<xsd:element name="limite" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CustodiaFicImagenesResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Archivo" type="xsd:base64Binary" />
          	<xsd:element name="codError" type="xsd:int"></xsd:element>
          	<xsd:element name="descError" type="xsd:string"></xsd:element>
          	<xsd:element name="nomArchivo" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustodiaFicImagenesRequest">
    <wsdl:part element="tns:CustodiaFicImagenes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CustodiaFicImagenesResponse">
    <wsdl:part element="tns:CustodiaFicImagenesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CustodiaFicMultas">
    <wsdl:operation name="CustodiaFicImagenes">
      <wsdl:input message="tns:CustodiaFicImagenesRequest"/>
      <wsdl:output message="tns:CustodiaFicImagenesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustodiaFicMultasSOAP" type="tns:CustodiaFicMultas">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CustodiaFicImagenes">
      <soap:operation soapAction="http://ArchivoDigital.ws.services.tributasenasturias.es/CustodiaFicMultas/CustodiaFicImagenes"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustodiaFicMultas">
    <wsdl:port binding="tns:CustodiaFicMultasSOAP" name="CustodiaFicMultasSOAP">
      <soap:address location="http://ArchivoDigital.ws.services.tributasenasturias.es/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
